.idea/

/*.html
/*.php
/admin/
/archive/
/cache/
/images/
/install/
/jscripts/
/uploads/

/inc/*.php
/inc/*.html
/inc/3rdparty/
/inc/cachehandlers/
/inc/captcha_fonts/
/inc/datahandlers/
/inc/languages/
/inc/mailhandlers/
/inc/tasks/
/inc/plugins/hello\.php
/inc/plugins/index\.html

*.txt
